footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    z-index: 10;
}

/* 1. Set the container to Flexbox */
.copyright {
    height: 100%;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    background-color: #f1f1f1;
}

/* 2. Clean up the paragraph tag */
.copyright p {
    font-size: 10px;
    color: #000;
    margin: 0;             /* Remove default margins that cause offset */
    text-align: center;
    width: auto;           /* Allow width to fit content */
}

.copyright a {
    font-size: 10px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}