footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    margin-top: 20px;
    z-index: 10;
}

a{
    color: black;
}

.copyright{
    height: 100%;
    padding: 10px;
    background-color:#f1f1f1;
}

.copyright p{
    font-size: 10px;
    text-align: center;
    width: 20%;
    color: #000;
    bottom: 0;
    left: 10px;
}

.copyright a{
    font-size: 10px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}